{% extends "base_adm.html" %}
{% block conteudo %}
    <div>
        <h2>Assuntos da matéria de <span class="text-capitalize">{{ materia }}</span></h2>
    </div>
    <div class="box_materias flex flex-column gap-5 mt-5">
        {% for i in range(0, assuntos|length, 3) %}
            <div class="box_assuntos row mb-5">
                {% for assunto in assuntos[i:i+3] %}
                    <div class="box_conteudos_assuntos col-4">
                        <a href="{{ url_for('materia.listar_conteudos', materia=materia, assunto=assunto.nome) }}" class="text-decoration-none">
                            <div class="name_assunto w-100 p-4">
                                <h5 class="text-center text-light text-capitalize">{{ assunto.nome }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
