{% extends "base_adm.html" %}

{% block conteudo %}
    <div class="container_gerenciar_usuario flex-grow-1 d-flex flex-column">
    <h1>Gerenciamento de alunos</h1>
    <div class="box-user-aluno d-flex flex-column gap-3 mt-5 m-auto w-100">
        {% for user in usuarios %}
        <div class="show-user d-flex gap-4 align-items-center w-100" class="box_conteudos scroll d-flex flex-column gap-3 mt-5" style="max-height: 600px; overflow-y: auto;">
            <div class="user-aluno d-flex p-3 rounded gap-3 w-100">
                <img src="{{ url_for('static', filename='img/icon_user.svg') }}" alt="">
                <div class="info">
                    <p class="mb-0 fw-medium">{{ user.nome }}</p>
                    <p class="email_user mb-0 opacity-75">{{ user.email }}</p>
                    <p class="email_user mb-0 opacity-75">{{ user.telefone }}</p>
                </div>
            </div>
            <a href="{{url_for('usuario.adm_deletar_user', id=user.id)}}" name="{{user.id}}">
                <div class="button-delete bg-danger d-flex justify-content-center align-items-center p-4 rounded gap-3">
                    <img src="{{ url_for('static', filename='img/icon_delete.svg') }}" alt="">
                </div>
            </a>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="staticBackdropDelete{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmação de exclusão</h1>
                        <button type="button" class="btn bg-danger p-3" data-bs-toggle="modal" data-bs-target="#staticBackdropDelete{{ user.id }}">
                            <img src="{{ url_for('static', filename='img/icon_delete.svg') }}" alt="">
                        </button>
                    </div>
                    <div class="modal-body">
                        Você deseja de fato deletar a sua conta do sistema?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary px-3 py-2 fs-6"
                            data-bs-dismiss="modal">Fechar</button>
                        <a href="{{url_for('usuario.adm_deletar_user', id=user.id)}}">
                            <div
                                class="button-delete d-flex justify-content-center align-items-center py-3 p-4 rounded gap-3 text-decoration-none text-white bg-danger">
                                <img src="{{ url_for('static', filename='img/icon_delete.svg') }}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>
    </div>
{% endblock %}