{% extends "base_landingpage.html" %}

{% block conteudo %}
    <div>
        <h2>Conteúdos do assunto <span class="text-capitalize">{{ assunto }}</span></h2>
    </div>

    <div class="box_conteudos scroll d-flex flex-column gap-3 mt-5" style="max-height: 600px; overflow-y: auto;">
        {% for conteudo in conteudos %}
            <div class="box_conteudo p-4 border rounded bg-light">
                <h5>{{ conteudo.nome }}</h5>
            </div>
        {% else %}
            <p class="text-muted">Nenhum conteúdo disponível para este assunto.</p>
        {% endfor %}
    </div>
{% endblock %}
